$main-font: 'Mulish', sans-serif;  

.footer-list {
    max-width: 1110px;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 90px;
    height: 19.34px;
}

.link-footer {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: #111111;
}


