$main-font: 'Mulish', sans-serif; 

.container__form {
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    display: flex;
}

.title__form {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    /* or 138% */
    color: #111111;
}

.text__form {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
}