@use 'fontsform';

@import 'formnav';
@import 'mainform';
@import 'footerform';

body {
    max-width: 1360px;
    width: 100%;
    min-height: 1375px;
    margin: auto;
    background: #FFFFFF;
    }