.nav-list {
  max-width: 1110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  padding: 1%;
  list-style: none;
}

.nav-item {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11/12;
}

#logo {
  width: 90px;
  height: 19.34px;
}

.link__nav {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: #111111;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  min-height: 251px;
  margin: 0;
  padding: 1%;
}

.header__container {
  max-width: 635px;
}

.header__quote {
  align-self: flex-end;
}

.header__container__text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}

.header__container__h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  color: #111111;
}

.header__quote__rec {
  background: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header__quote__text {
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.container__main__images {
  max-width: 1110px;
  width: 100%;
}

.row__main__group {
  min-height: 106px;
  max-width: 1079px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.container__main__group {
  max-width: 635px;
  min-height: 106px;
  padding: 5px;
}

.container__main__h3 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* or 136% */
  color: #111111;
}

.container__main__list {
  align-self: flex-end;
}

.list__text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.container__main__awards {
  max-width: 1110px;
  margin: 5px;
  padding: 5px;
}

.row__awards__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.awards__title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  color: #111111;
}

.awards__second__title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
}

.awards__text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
}

.awards__second__text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.awards__nr {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
}

.container__footer {
  max-width: 1110px;
  min-height: 23px;
  margin: 5px;
  gap: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  padding: 1%;
  list-style: none;
}

.footer__social {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
}

#logo {
  width: 90px;
  height: 19.34px;
}

.footer__link {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.346154px;
  color: #111111;
}

body {
  max-width: 1360px;
  width: 100%;
  min-height: 3840px;
  background: #FFFFFF;
  margin: auto;
}
/*# sourceMappingURL=index.css.map */